In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

data = pd.read_csv('dataset_caba.csv')

In [2]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2749 entries, 0 to 2748
Data columns (total 19 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Unnamed: 0             2749 non-null   int64
 1   property_type          2749 non-null   object
 2   place_name             2749 non-null   object
 3   lat-lon                2749 non-null   object
 4   lat                    2749 non-null   float64
 5   lon                    2749 non-null   float64
 6   price                  2749 non-null   float64
 7   surface_total_in_m2    2749 non-null   float64
 8   surface_covered_in_m2  2744 non-null   float64
 9   price_usd_per_m2       2749 non-null   float64
 10  floor                  2749 non-null   float64
 11  rooms                  2749 non-null   float64
 12  description            2749 non-null   object
 13  title                  2749 non-null   object
 14  Point                  2749 non-null   object
 15  place_name_normalized  2749 non-null   object
 16  disposicion            2749 non-null   object
 17  aAstrenar              2749 non-null   int64
 18  garage                 2749 non-null   int64
dtypes: float64(8), int64(3), object(8)
memory usage: 408.2+ KB

In [3]:
data['surface_covered_in_m2'] = data['surface_covered_in_m2'].fillna(data['surface_total_in_m2'])

In [4]:
#Convertimos a dummy la disposicion
df_dummies = data

df_dummies = pd.concat([data, pd.get_dummies(data = data['disposicion'], prefix= 'disp_')], axis = 1)

#Convertimos a dummy los barrios
df_dummies = pd.concat([df_dummies, pd.get_dummies(data = data['place_name_normalized'], prefix= 'barrio_place_name_normalized')], axis = 1)

df_dummies

,Unnamed: 0,property_type,place_name,lat-lon,lat,lon,price,surface_total_in_m2,surface_covered_in_m2,price_usd_per_m2,...,barrio_place_name_normalized_Villa Lugano,barrio_place_name_normalized_Villa Luro,barrio_place_name_normalized_Villa Ortuzar,barrio_place_name_normalized_Villa Pueyrredón,barrio_place_name_normalized_Villa Real,barrio_place_name_normalized_Villa Riachuelo,barrio_place_name_normalized_Villa Santa Rita,barrio_place_name_normalized_Villa Soldati,barrio_place_name_normalized_Villa Urquiza,barrio_place_name_normalized_Villa del Parque
0,6,apartment,Boedo,"-34.6217693287,-58.4221081951",-34.621769,-58.422108,145000.0,80.0,77.0,1812.500000,...,0,0,0,0,0,0,0,0,0,0
1,8,apartment,Balvanera,"-34.6096748,-58.3986588",-34.609675,-58.398659,240000.0,141.0,124.0,1702.127660,...,0,0,0,0,0,0,0,0,0,0
2,9,apartment,Caballito,"-34.6222111,-58.4391283",-34.622211,-58.439128,110000.0,50.0,50.0,2200.000000,...,0,0,0,0,0,0,0,0,0,0
3,20,apartment,Barrio Norte,"-34.594304,-58.403685",-34.594304,-58.403685,93000.0,35.0,35.0,2657.142857,...,0,0,0,0,0,0,0,0,0,0
4,29,apartment,Belgrano,"-34.5652650561,-58.438232802",-34.565265,-58.438233,237895.0,69.0,53.0,3447.753623,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2744,17358,apartment,Nuñez,"-34.5494807953,-58.4692289413",-34.549481,-58.469229,115700.0,43.0,32.0,2690.697674,...,0,0,0,0,0,0,0,0,0,0
2745,17359,apartment,Nuñez,"-34.5494807953,-58.4692289413",-34.549481,-58.469229,126900.0,48.0,39.0,2643.750000,...,0,0,0,0,0,0,0,0,0,0
2746,17360,apartment,Nuñez,"-34.5494807953,-58.4692289413",-34.549481,-58.469229,309200.0,115.0,96.0,2688.695652,...,0,0,0,0,0,0,0,0,0,0
2747,17361,apartment,Nuñez,"-34.5494807953,-58.4692289413",-34.549481,-58.469229,141400.0,56.0,40.0,2525.000000,...,0,0,0,0,0,0,0,0,0,0
2748,17389,apartment,Belgrano,"-34.563685346,-58.4426825896",-34.563685,-58.442683,410000.0,157.0,157.0,2611.464968,...,0,0,0,0,0,0,0,0,0,0

In [5]:
# quitamos columnas 

df_dummies = df_dummies.drop(['property_type','description','title','lat-lon','Point','place_name','place_name_normalized','disposicion'], axis=1)

#Reseteo el index
df_dummies.reset_index(inplace=True, drop=True)

In [6]:
from sklearn import linear_model
from sklearn.metrics import r2_score
from sklearn.model_selection import train_test_split

In [7]:
X = df_dummies.drop(['price_usd_per_m2'], axis = 1)
y = df_dummies['price_usd_per_m2']

#Separamos en train y test
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.25, random_state=123)

In [8]:

#Instanciamos el modelo

lm = linear_model.LinearRegression()

#Entrenamos el modelo
reg_lineal = lm.fit(X_train, y_train)

#Guardamos el score del modelo en una variable para poder comparar
R2_reg_lin_precio = reg_lineal.score(X_test, y_test)

#Prediccion con el set de testeo

print('Score de Regresion Lineal:', reg_lineal.score(X_test, y_test))

Score de Regresion Lineal: 0.633422126103721

In [9]:
X = df_dummies.drop(['price'], axis = 1)
y = df_dummies['price']

#Separamos en train y test
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.25, random_state=123)


#Instanciamos el modelo

lm = linear_model.LinearRegression()

#Entrenamos el modelo
reg_lineal = lm.fit(X_train, y_train)

#Guardamos el score del modelo en una variable para poder comparar
R2_reg_lin_precio = reg_lineal.score(X_test, y_test)

#Prediccion con el set de testeo

print('Score de Regresion Lineal:', reg_lineal.score(X_test, y_test))

Score de Regresion Lineal: 0.8134510520162238